.profile {
	width: 360px;
	min-height: 200px;
	max-height: 90vh;
	display: flex;
	flex-direction: column;
}

.empty {
	display: flex;
	align-items: center;
	justify-content: center;
}

.patient {
	position: sticky;
	top: 0;
	display: grid;

	grid-template-columns: 64px auto;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'avatar name'
		'avatar dob'
		'avatar phone';

	grid-column-gap: 10px;
	align-items: start;

	padding: 12px 16px;

	border-bottom: 1px solid #eee;
	background-color: #fff;
}

.avatar {
	grid-area: avatar;
}

.name {
	font-weight: bold;
	font-size: 19px;
}

.dob {
	color: #999;
}

.appointments {
	flex-grow: 1;
	list-style: none;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0 16px 0 90px;
	overflow: auto;
}

.appointments.empty {
	padding: 16px;
}

.appointment {
	padding: 12px 0;
	border-bottom: 1px solid #eee;
}

.date {
	font-weight: bold;
}
